.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

img {
  width: 100%;
}

.column-two-third {
  flex-basis: calc(66%);
}
