body {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.light-bulb-off {
  background-color: #000;
}

.circle-off {
  border-radius: 50%;
  background-color: #252525;
  width: 150px;
  height: 150px;
  border: solid transparent;
}

.light-bulb-on {
  background-color: #f0efdc;
}

.circle-on {
  border-radius: 50%;
  background-color: #faea84;
  width: 150px;
  height: 150px;
  border: solid transparent;
  box-shadow: 0 0 10px #faea84;
}
