#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.hidden {
  display: none;
}

div {
  text-align: center;
  display: flex;
  flex-direction: column;
}

span,
button {
  width: 300px;
}
